Pandas

Pandas is a python library used for working with data sets

It has functions for analyzing,cleaning,exploring and manipulating data

Pandas allows us to analyze big and make conlusions based on statistical

theories.Pandas can clean messy data sets,and make them readable and relevant

Relevant data is very important in data science

In pandas,One dimension is called Series.Two dimensions is called data frame

and three dimension is called panel

In [ ]:
import pandas as pd

data = [3,2,5,8]

s = pd.Series(data)

print(s)

0    3
1    2
2    5
3    8
dtype: int64

In [ ]:
import pandas as pd

data = (4,5,8,90)

s = pd.Series(data)

print(s)

0     4
1     5
2     8
3    90
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

data = np.array([4,7,4,8])

s = pd.Series(data)

print(s)

0    4
1    7
2    4
3    8
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

data = np.array([[4,7,4,8],[3,31,41]])

s = pd.Series(data)

print(s)

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (2,) + inhomogeneous part.

In [ ]:
import pandas as pd

data = (4,5,8,90)

s = pd.Series(data)

print(s)

print(s.shape)

print(s.ndim)

print(s.dtype)

0     4
1     5
2     8
3    90
dtype: int64
(4,)
1
int64

In [ ]:
import pandas as pd
import numpy as np

data = ([4,7,4,8])

s = pd.Series(data,index=[100,101,10,20])

print(s)

100    4
101    7
10     4
20     8
dtype: int64

In [ ]:
import pandas as pd

data = {1:'shinas',2:'jacob',3:'mitchel'}

s = pd.Series(data)

print(s)

1     shinas
2      jacob
3    mitchel
dtype: object

In [ ]:
import pandas as pd
import numpy as np


data = {1:'shinas',2:'jacob',3:'mitchel'}

s = pd.Series(data,index=[5,1,8,2,3,4])

print(s)

print(s[[3,1]])

5        NaN
1     shinas
8        NaN
2      jacob
3    mitchel
4        NaN
dtype: object
3    mitchel
1     shinas
dtype: object

In [ ]:
import pandas as pd
import numpy as np


data = {1:'shinas',2:'jacob',3:'mitchel'}

s = pd.Series(data,index=[5,1,8,2,3,4])

print(s[0:5])

5        NaN
1     shinas
8        NaN
2      jacob
3    mitchel
dtype: object

In [ ]:
#Dataframe
import pandas as pd
import numpy as np

data = [[3,5,8,2],[3,5,8,1]]

s = pd.DataFrame(data)

print(s)

   0  1  2  3
0  3  5  8  2
1  3  5  8  1

In [ ]:
import pandas as pd
import numpy as np

data = [['shinas',60,50,30],['sanal',40,50,20]]

s = pd.DataFrame(data)

print(s)

        0   1   2   3
0  shinas  60  50  30
1   sanal  40  50  20

In [1]:
import pandas as pd
import numpy as np

#data = [['shinas',40,60,40]],['adith',60,30,90],['sarang',40,50,12]]

data1 = {'Name':['shinas','adith','sarang'],'chem':[40,60,40],'maths':[40,60,40],'phy':[40,60,40]}

df = pd.DataFrame(data1)

df['bio'] = [60,48,50]

df['total mark'] = df['chem'] + df['maths'] + df['phy'] +df['bio']

print(df)

     Name  chem  maths  phy  bio  total mark
0  shinas    40     40   40   60         180
1   adith    60     60   60   48         228
2  sarang    40     40   40   50         170

In [2]:
import pandas as pd
import numpy as np

#data = [['shinas',40,60,40]],['adith',60,30,90],['sarang',40,50,12]]

data1 = {'Name':['shinas','adith','sarang'],'chem':[40,60,40],'maths':[40,60,40],'phy':[40,60,40]}

df = pd.DataFrame(data1)

df['bio'] = [60,48,50]

df['total mark'] = df['chem'] + df['maths'] + df['phy'] +df['bio']

#df['status'] =

list1 = []

for i in df['total mark']:

  if i<=100:
    list1.append('blw avg')

  elif i<=200:
    list1.append('avg')

  else:
    list1.append('exlnt')

print(list1)

df['status'] = list1

print(df[['Name','status','chem']])


print(df)

['avg', 'exlnt', 'avg']
     Name status  chem
0  shinas    avg    40
1   adith  exlnt    60
2  sarang    avg    40
     Name  chem  maths  phy  bio  total mark status
0  shinas    40     40   40   60         180    avg
1   adith    60     60   60   48         228  exlnt
2  sarang    40     40   40   50         170    avg

DELETING

In [3]:
import pandas as pd
import numpy as np

#data = [['shinas',40,60,40]],['adith',60,30,90],['sarang',40,50,12]]

data1 = {'Name':['shinas','adith','sarang'],'chem':[40,60,90],'maths':[40,60,40],'phy':[40,60,40]}

df = pd.DataFrame(data1)

df['bio'] = [60,48,50]

df['total mark'] = df['chem'] + df['maths'] + df['phy'] +df['bio']

#df['status'] =

list1 = []

for i in df['total mark']:

  if i<=100:
    list1.append('blw avg')

  elif i<=200:
    list1.append('avg')

  else:
    list1.append('exlnt')

print(list1)

df['status'] = list1

del df['chem']

#print(df[['Name','status','chem']])


print(df)

['avg', 'exlnt', 'exlnt']
     Name  maths  phy  bio  total mark status
0  shinas     40   40   60         180    avg
1   adith     60   60   48         228  exlnt
2  sarang     40   40   50         220  exlnt

drop method

In [4]:
import pandas as pd
import numpy as np

#data = [['shinas',40,60,40]],['adith',60,30,90],['sarang',40,50,12]]

data1 = {'Name':['shinas','adith','sarang'],'chem':[40,60,90],'maths':[40,60,40],'phy':[40,60,40]}

df = pd.DataFrame(data1)

df['bio'] = [60,48,50]

df['total mark'] = df['chem'] + df['maths'] + df['phy'] +df['bio']

#df['status'] =

list1 = []

for i in df['total mark']:

  if i<=100:
    list1.append('blw avg')

  elif i<=200:
    list1.append('avg')

  else:
    list1.append('exlnt')

print(list1)

df['status'] = list1

del df['chem']

df = df.drop('phy',axis=1) # want to specify axis

#print(df[['Name','status','chem']])


print(df)

['avg', 'exlnt', 'exlnt']
     Name  maths  bio  total mark status
0  shinas     40   60         180    avg
1   adith     60   48         228  exlnt
2  sarang     40   50         220  exlnt

In [8]:
import pandas as pd
import numpy as np

#data = [['shinas',40,60,40]],['adith',60,30,90],['sarang',40,50,12]]

data1 = {'Name':['shinas','adith','sarang'],'chem':[40,60,90],'maths':[40,60,40],'phy':[40,60,40]}

df = pd.DataFrame(data1)

df['bio'] = [60,48,50]

df['total mark'] = df['chem'] + df['maths'] + df['phy'] +df['bio']

#df['status'] =

list1 = []

for i in df['total mark']:

  if i<=100:
    list1.append('blw avg')

  elif i<=200:
    list1.append('avg')

  else:
    list1.append('exlnt')

print(list1)

df['status'] = list1

del df['chem']

df = df.drop('phy',axis=1) # want to specify axis

#print(df[['Name','status','chem']])

df.pop('maths')

print(df)

print(df.ndim)
print(df.size)
print(df.shape)

print(df.columns)

print(df['status'].unique())

print(df['bio'].unique())

print(df['status'].value_counts())

print(df)

['avg', 'exlnt', 'exlnt']
     Name  bio  total mark status
0  shinas   60         180    avg
1   adith   48         228  exlnt
2  sarang   50         220  exlnt
2
12
(3, 4)
Index(['Name', 'bio', 'total mark', 'status'], dtype='object')
['avg' 'exlnt']
[60 48 50]
status
exlnt    2
avg      1
Name: count, dtype: int64
     Name  bio  total mark status
0  shinas   60         180    avg
1   adith   48         228  exlnt
2  sarang   50         220  exlnt

In [9]:
print(df)

     Name  bio  total mark status
0  shinas   60         180    avg
1   adith   48         228  exlnt
2  sarang   50         220  exlnt

In [11]:
print(df.head())

     Name  bio  total mark status
0  shinas   60         180    avg
1   adith   48         228  exlnt
2  sarang   50         220  exlnt

In [10]:
print(df.head(2))

     Name  bio  total mark status
0  shinas   60         180    avg
1   adith   48         228  exlnt

In [12]:
print(df.tail(2))

     Name  bio  total mark status
1   adith   48         228  exlnt
2  sarang   50         220  exlnt

In [13]:
print(df.describe())

             bio  total mark
count   3.000000    3.000000
mean   52.666667  209.333333
std     6.429101   25.716402
min    48.000000  180.000000
25%    49.000000  200.000000
50%    50.000000  220.000000
75%    55.000000  224.000000
max    60.000000  228.000000

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        3 non-null      object
 1   bio         3 non-null      int64
 2   total mark  3 non-null      int64
 3   status      3 non-null      object
dtypes: int64(2), object(2)
memory usage: 224.0+ bytes
None

In [15]:
print(df.sum())

Name          shinasadithsarang
bio                         158
total mark                  628
status            avgexlntexlnt
dtype: object

In [16]:
print(df['bio'].sum())

158

In [17]:
print(df.sum(1)) #row wise

TypeError: can only concatenate str (not "int") to str

In [19]:
print(df.sum(0))  #column wise

Name          shinasadithsarang
bio                         158
total mark                  628
status            avgexlntexlnt
dtype: object

In [ ]:
print(df['bio'].mean())

52.666666666666664

In [ ]:
print(df.describe())

             bio  total mark
count   3.000000    3.000000
mean   52.666667  209.333333
std     6.429101   25.716402
min    48.000000  180.000000
25%    49.000000  200.000000
50%    50.000000  220.000000
75%    55.000000  224.000000
max    60.000000  228.000000

In [ ]:
df1 =

In [ ]:
import pandas as pd
import numpy as np

#data = [['shinas',40,60,40]],['adith',60,30,90],['sarang',40,50,12]]

data1 = {'Name':['shinas','adith','sarang'],'chem':[40,60,90],'maths':[40,60,40],'phy':[40,60,40]}

df = pd.DataFrame(data1)

df['bio'] = [60,48,50]

df['total mark'] = df['chem'] + df['maths'] + df['phy'] +df['bio']

print(df)

     Name  chem  maths  phy  bio  total mark
0  shinas    40     40   40   60         180
1   adith    60     60   60   48         228
2  sarang    90     40   40   50         220

In [ ]:
import pandas as pd
import numpy as np

data = [['shinas',30,40,60],['sarang',50,60,70],['adith',40,50,80]]

s = pd.DataFrame(data,columns=['Name','chem_marks','phy_marks','maths_marks'])

print(s)

     Name  chem_marks  phy_marks  maths_marks
0  shinas          30         40           60
1  sarang          50         60           70
2   adith          40         50           80

In [ ]:
import pandas as pd
import numpy as np

data = [['shinas',30,40,60],['sarang',50,60,70],['adith',40,50,80]]

data1 = {'Name':['shinas','adith','sarang'],'phy':[40,60,23],'chem':[21,55,23],'maths':[50,40,32]}

s = pd.DataFrame(data1,index=[20,30,50])

print(s)

      Name  phy  chem  maths
20  shinas   40    21     50
30   adith   60    55     40
50  sarang   23    23     32

In [ ]:
import pandas as pd
import numpy as np

data = [['shinas',30,40,60],['sarang',50,60,70],['adith',40,50,80]]

data1 = {'Name':['shinas','adith','sarang'],'phy':[40,60,23],'chem':[21,55,23],'maths':[50,40,32]}

df = pd.DataFrame(data1)

df['bio'] = [60,45,54]

df['total mark'] = df['phy'] + df['chem'] + df['maths'] + df['bio']

print(df)

     Name  phy  chem  maths  bio  total mark
0  shinas   40    21     50   60         171
1   adith   60    55     40   45         200
2  sarang   23    23     32   54         132

In [ ]:
import pandas as pd
import numpy as np

data = [['shinas',30,40,60],['sarang',50,60,70],['adith',40,50,80]]

data1 = {'Name':['shinas','adith','sarang'],'phy':[40,60,23],'chem':[21,55,23],'maths':[50,40,32]}

df = pd.DataFrame(data1)

df['bio'] = [60,45,54]

df['total mark'] = df['phy'] + df['chem'] + df['maths'] + df['bio']

#df['status'] =

list1 = []

for i in df['total mark']:

print(df)

IndentationError: expected an indented block after 'for' statement on line 18 (<ipython-input-1-3cc90c5f2ff7>, line 20)

In [ ]:
import pandas as pd
data1 = {"name":["raju","ramu","farveen"],"chem":[20,45,76],"maths":[67,90,86],"phy":[34,67,54]}
df = pd.DataFrame(data1)
df["bio"]=[40,60,70]
df["total mark"] = df["chem"] + df["maths"] + df["phy"] + df["bio"]
list1 = []
for i in df["total mark"]:
  if i<=100:
    list1.append("below average")
  elif i<=200:
    list1.append("average")
  else:
    list1.append("excellent")
print(list1)
df["status"] = list1

del df['chem']

df = df.drop('phy',axis=1)
df.pop('maths')
print(df.shape)
print(df.size)
print(df['bio'].unique())
print(df['status'].value_counts())

print(df.columns)
print(df)

['average', 'excellent', 'excellent']
(3, 4)
12
[40 60 70]
excellent    2
average      1
Name: status, dtype: int64
Index(['name', 'bio', 'total mark', 'status'], dtype='object')
      name  bio  total mark     status
0     raju   40         161    average
1     ramu   60         262  excellent
2  farveen   70         286  excellent

In [ ]:
import pandas as pd
data1 = {"name":["raju","ramu","farveen"],"chem":[20,45,76],"maths":[67,90,86],"phy":[34,67,54]}
df = pd.DataFrame(data1)
df["bio"]=[40,60,70]
df["total mark"] = df["chem"] + df["maths"] + df["phy"] + df["bio"]
list1 = []
for i in df["total mark"]:
  if i<=100:
    list1.append("below average")
  elif i<=200:
    list1.append("average")
  else:
    list1.append("excellent")
print(list1)
df["status"] = list1

del df['chem']

df = df.drop('phy',axis=1)
df.pop('maths')
print(df.shape)
print(df.size)
print(df.head(2))
print(df['bio'].unique())
print(df['status'].value_counts())

print(df.columns)
#print(df)
print(df.tail(2))

print(df.info())
print(df.sum())

['average', 'excellent', 'excellent']
(3, 4)
12
   name  bio  total mark     status
0  raju   40         161    average
1  ramu   60         262  excellent
[40 60 70]
excellent    2
average      1
Name: status, dtype: int64
Index(['name', 'bio', 'total mark', 'status'], dtype='object')
      name  bio  total mark     status
1     ramu   60         262  excellent
2  farveen   70         286  excellent
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3 non-null      object
 1   bio         3 non-null      int64
 2   total mark  3 non-null      int64
 3   status      3 non-null      object
dtypes: int64(2), object(2)
memory usage: 224.0+ bytes
None
name                    rajuramufarveen
bio                                 170
total mark                          709
status        averageexcellentexcellent
dtype: object

In [ ]:
import pandas as pd
data1 = {"name":["raju","ramu","farveen"],"chem":[20,45,76],"maths":[67,90,86],"phy":[34,67,54]}
df = pd.DataFrame(data1)
df["bio"]=[40,60,70]
df["total mark"] = df["chem"] + df["maths"] + df["phy"] + df["bio"]
list1 = []
for i in df["total mark"]:
  if i<=100:
    list1.append("below average")
  elif i<=200:
    list1.append("average")
  else:
    list1.append("excellent")
print(list1)
df["status"] = list1

del df['chem']

print(df.mean())
print(df.tail(2))

print(df.info())

['average', 'excellent', 'excellent']
maths          81.000000
phy            51.666667
bio            56.666667
total mark    236.333333
dtype: float64
      name  maths  phy  bio  total mark     status
1     ramu     90   67   60         262  excellent
2  farveen     86   54   70         286  excellent
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3 non-null      object
 1   maths       3 non-null      int64
 2   phy         3 non-null      int64
 3   bio         3 non-null      int64
 4   total mark  3 non-null      int64
 5   status      3 non-null      object
dtypes: int64(4), object(2)
memory usage: 272.0+ bytes
None

<ipython-input-24-8e1970c7bf43>:19: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean())

In [ ]:
import pandas as pd
data1 = {"name":["raju","ramu","farveen"],"chem":[20,45,76],"maths":[67,90,86],"phy":[34,67,54]}
df = pd.DataFrame(data1)
df["bio"]=[40,60,70]
df["total mark"] = df["chem"] + df["maths"] + df["phy"] + df["bio"]
list1 = []
for i in df["total mark"]:
  if i<=100:
    list1.append("below average")
  elif i<=200:
    list1.append("average")
  else:
    list1.append("excellent")
print(list1)
df["status"] = list1

del df['chem']

print(df.min())
print(df.tail(2))


print(df.describe())
print(df.info())

['average', 'excellent', 'excellent']
name          farveen
maths              67
phy                34
bio                40
total mark        161
status        average
dtype: object
      name  maths  phy  bio  total mark     status
1     ramu     90   67   60         262  excellent
2  farveen     86   54   70         286  excellent
           maths        phy        bio  total mark
count   3.000000   3.000000   3.000000    3.000000
mean   81.000000  51.666667  56.666667  236.333333
std    12.288206  16.623277  15.275252   66.335008
min    67.000000  34.000000  40.000000  161.000000
25%    76.500000  44.000000  50.000000  211.500000
50%    86.000000  54.000000  60.000000  262.000000
75%    88.000000  60.500000  65.000000  274.000000
max    90.000000  67.000000  70.000000  286.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3 non-null      object
 1   maths       3 non-null      int64
 2   phy         3 non-null      int64
 3   bio         3 non-null      int64
 4   total mark  3 non-null      int64
 5   status      3 non-null      object
dtypes: int64(4), object(2)
memory usage: 272.0+ bytes
None